colour==0.1.5
matplotlib==3.10.8
matplotlib-inline==0.2.1
numpy==2.2.6
pandas==3.0.2
polars==1.39.3
polars-runtime-32==1.39.3
seaborn==0.13.2
jupyterlab==4.5.8
pyserial==3.5
psutil==7.1
pyelftools==0.32
pyarrow==24.0.0
